---
import Layout from "../layouts/Layout.astro";
import "../global.css";
import RotatingSquare from "../components/RotatingSquare.astro";
import RotatingSpiral from "../components/RotatingSpiral.astro";
import Generic from "../components/PolygonMorph.astro";
import RotatingThickStroke from "../components/RotatingThickStroke.astro";
import RotatingCircle from "../components/RotatingCircle.astro";
---

<Layout title="Welcome to Astro.">
  <main class="p-3">
    <div>
      <h1 class="text-8xl font-bold mb-4">Jon Karrer</h1>
      <outline class="text-4xl font-medium text-right">Problem Solver</outline>
    </div>

    <div class="flex flex-col justify-end items-end gap-1 relative py-4 mt-12">
      <div
        class="border-t border-dashed border-y-dark100 absolute top-0 right-7 w-80"
      >
      </div>
      <div
        class="border-t border-dashed border-y-dark100 absolute bottom-5 right-7 w-64"
      >
      </div>

      <div class="flex flex-row justify-between items-center w-28 mb-1">
        <p class="text-sm font-medium">Oct 05, 1992</p>
        <div class="h-3 w-3 bg-dark100 rounded-full"></div>
      </div>

      <div class="flex flex-row justify-between items-center w-[132.5px]">
        <p class="text-sm font-bold">Norfolk, VA</p>
        <div class="h-3 w-3 bg-dark100 rounded-full"></div>
        <div class="h-3 w-3 bg-dark100 rounded-full"></div>
      </div>

      <div class="flex flex-row justify-between items-center w-36">
        <p class="text-sm font-bold">Programmer</p>
        <div class="h-3 w-3 bg-dark100 rounded-full"></div>
        <div class="h-3 w-3 bg-dark100 rounded-full"></div>
      </div>

      <div class="flex flex-row justify-between items-center w-36 mt-6">
        <p class="text-sm font-medium">30° 14' 18.7044'' N</p>
        <div class="h-3 w-3 bg-dark100 rounded-full"></div>
      </div>
      <div>
        <div class="h-3 w-3 bg-dark100 rounded-full"></div>
      </div>
    </div>

    <div class="flex items-center justify-between w-11/12 m-auto mt-4 mb-20">
      <RotatingSquare />
      <div class="pt-28">
        <RotatingCircle />
      </div>
      <RotatingThickStroke />
    </div>

    <nav
      class="text-xl border-y border-dark100 py-8 px-4 flex items-center justify-between font-semibold"
    >
      <a href="/projects">Projects</a>
      |
      <a href="/blog">Blog</a>
      |
      <a href="/development">Development</a>
    </nav>
  </main>
</Layout>
