---
import Layout from "../layouts/Layout.astro";
import "../global.css";
import RotatingSquare from "../components/RotatingSquare.astro";
import RotatingSpiral from "../components/RotatingSpiral.astro";
import Generic from "../components/PolygonMorph.astro";
import RotatingThickStroke from "../components/RotatingThickStroke.astro";
import RotatingCircle from "../components/RotatingCircle.astro";
---

<Layout title="Welcome to Astro.">
  <main class="p-3">
    <div>
      <h1 class="text-8xl font-bold mb-4">Jon Karrer</h1>
      <outline class="text-4xl font-medium text-right">Problem Solver</outline>
    </div>

    <div class="flex flex-col justify-end items-end gap-1 relative py-4 mt-12">
      <div
        class="border-t border-dashed border-y-dark100 absolute top-0 right-7 w-80"
      >
      </div>
      <div
        class="border-t border-dashed border-y-dark100 absolute bottom-5 right-7 w-64"
      >
      </div>

      <div class="flex flex-row justify-between items-center w-28 mb-1">
        <p class="text-sm font-medium">Oct 05, 1992</p>
        <div class="h-3 w-3 bg-dark100 rounded-full"></div>
      </div>

      <div class="flex flex-row justify-between items-center w-[132.5px]">
        <p class="text-sm font-bold">Norfolk, VA</p>
        <div class="h-3 w-3 bg-dark100 rounded-full"></div>
        <div class="h-3 w-3 bg-dark100 rounded-full"></div>
      </div>

      <div class="flex flex-row justify-between items-center w-36">
        <p class="text-sm font-bold">Programmer</p>
        <div class="h-3 w-3 bg-dark100 rounded-full"></div>
        <div class="h-3 w-3 bg-dark100 rounded-full"></div>
      </div>

      <div class="flex flex-row justify-between items-center w-36 mt-6">
        <p class="text-sm font-medium">30° 14' 18.7044'' N</p>
        <div class="h-3 w-3 bg-dark100 rounded-full"></div>
      </div>
      <div>
        <div class="h-3 w-3 bg-dark100 rounded-full"></div>
      </div>
    </div>

    <div class="flex items-center justify-between w-11/12 m-auto mb-12">
      <RotatingSquare />
      <div class="pt-28">
        <RotatingCircle />
      </div>
      <RotatingThickStroke />
    </div>

    <nav
      class="text-xl border-y border-dark100 py-8 px-4 flex items-center justify-between font-bold"
    >
      <a href="/projects">Projects</a>
      |
      <a href="/blog">Blog</a>
      |
      <a href="/development">Development</a>
    </nav>

    <section class="border-dark100 border-b-2 pb-16">
      <div class="flex items-end gap-3 mt-16">
        <div class="h-[18px] w-[18px] bg-dark100 rounded-full"></div>
        <div class="h-[14px] w-[14px] bg-dark100 rounded-full"></div>
        <div class="h-[14px] w-[14px] bg-dark100 rounded-full"></div>
        <div class="h-[14px] w-[14px] bg-dark100 rounded-full"></div>
        <div class="h-[14px] w-[14px] bg-dark100 rounded-full"></div>
        <div class="h-[14px] w-[14px] bg-dark100 rounded-full"></div>
      </div>

      <h2 class="text-4xl font-bold my-6">About</h2>
      <p class="font-bold">
        Corem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis
        molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
        fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
        elit sed risus. Maecenas eget condimentum velit, sit amet feugiat
        lectus. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos.
      </p>

      <div class="flex justify-between items-center">
        <div class="flex items-end gap-3 mt-16">
          <div class="h-[14px] w-[14px] bg-dark100 rounded-full"></div>
          <div class="h-[14px] w-[14px] bg-dark100 rounded-full"></div>
          <div class="h-[14px] w-[14px] bg-dark100 rounded-full"></div>
          <div class="h-[14px] w-[14px] bg-dark100 rounded-full"></div>
          <div class="h-[14px] w-[14px] bg-dark100 rounded-full"></div>
        </div>
        <div class="flex items-end gap-3 mt-16">
          <div class="h-3 w-3 bg-dark100 rounded-full"></div>
          <div class="h-3 w-3 bg-dark100 rounded-full"></div>
          <div class="h-3 w-3 bg-dark100 rounded-full"></div>
        </div>
      </div>
    </section>

    <section class="border-dark100 border-b-2 py-16">
      <h2 class="text-4xl font-bold my-6">Professional Development</h2>
      <p class="font-bold">
        Corem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis
        molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
        fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
        elit sed risus. Maecenas eget condimentum velit, sit amet feugiat
        lectus. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos.
      </p>

      <div class="flex justify-end mt-16">
        <div class="flex flex-col items-end">
          <div class="h-3 w-3 bg-dark100 rounded-full"></div>
          <div class="flex items-center gap-2">
            <p class="font-bold mr-3 underline underline-offset-4">
              Check the resume
            </p>
            <div class="h-3 w-3 bg-dark100 rounded-full"></div>
            <div class="h-3 w-3 bg-dark100 rounded-full"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="border-dark100 border-b-2 py-16">
      <h2 class="text-4xl font-bold my-6">Learning</h2>
      <p class="font-bold">
        Corem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis
        molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
        fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
        elit sed risus. Maecenas eget condimentum velit, sit amet feugiat
        lectus. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos.
      </p>
      <div class="border-dark100 border-b-2 w-44 border-dashed mt-16">
        <p class="font-bold">See some projects</p>
      </div>
    </section>
  </main>
</Layout>
