---
import Layout from '../layouts/Layout.astro';
import "../global.css";
---

<Layout title="Welcome to Astro.">
    <main>
        <div>
            <h1 class="text-8xl font-bold">Jon Karrer</h1>
            <outline class="text-4xl font-medium text-right">Problem Solver</outline>
           </div>
        
           <div class="border-y border-dashed border-y-dark100 flex flex-col justify-end items-end gap-1">
                <div class="flex flex-row justify-between items-center w-28">
                    <p class="text-dark100 text-sm font-medium">
                       Oct 05, 1992 
                    </p>
                    <div class="h-3 w-3 bg-dark100 rounded-full"></div>
                </div>
                <div class="flex flex-row justify-between items-center w-[134px]">
                    <p class="text-dark100 text-sm font-bold">
                       Norfolk, VA
                    </p>
                    <div class="h-3 w-3 bg-dark100 rounded-full"></div>
                    <div class="h-3 w-3 bg-dark100 rounded-full"></div>
                </div>

                <div class="flex flex-row justify-between items-center w-36">
                    <p class="text-dark100 text-sm font-bold">
                       Programmer
                    </p>
                    <div class="h-3 w-3 bg-dark100 rounded-full"></div>
                    <div class="h-3 w-3 bg-dark100 rounded-full"></div>
                </div>

                <div class="flex flex-row justify-between items-center w-36 mt-6">
                    <p class="text-dark100 text-sm font-medium">
                       30° 14' 18.7044'' N
                    </p>
                    <div class="h-3 w-3 bg-dark100 rounded-full"></div>
                </div>
                <div >
                    <div class="h-3 w-3 bg-dark100 rounded-full"></div>
                </div>
           </div>
    </main>
</Layout>
