---
import Layout from '../layouts/Layout.astro';
import "../global.css";
---

<Layout title="Welcome to Astro.">
    <main>
        <div>
            <h1 class="text-8xl">Jon Karrer</h1>
            <outline class="text-4xl">Problem Solver</outline>
           </div>
        
           <div class="border-y border-dashed flex flex-col">
                <div>
                    <p>
        
                    </p>
                </div>
           </div>
    </main>
</Layout>
